.taliffBody{
    background-image:url('images/backTaliff.png');
    background-size: cover;
}

.imageOne{
    position: absolute;
    left: 5px;
    top: 5px;
    border-color: white;
    border-width: 4px;
    background-color: transparent;
    padding: 0px;
}
.imageTwo{
    position: absolute;
    left: 100px;
    top: 5px;
    border-color: white;
    border-width: 4px;
    background-color: transparent;
    padding: 0px;

}
.imageThree{
    position: absolute;
    left: 195px;
    top: 5px;
    border-color: white;
    border-width: 4px;
    background-color: transparent;
    padding: 0px;
}
.imageInput{
    position: absolute;
    top:70px;
    width: 85px;
    height: 85px;
}
.imageFour{
    position: absolute;
    left: 290px;
    top: 5px;
    border-color: white;
    border-width: 4px;
    background-color: transparent;
    padding: 0px;
}
.timer{
    position: absolute;
    font-family: Arial;
    font-size: 40px;
    text-align: center;
    right: 20px;
    margin-top: 10px; 
    display:block;
    border:3px solid white;
    background-color:black;
    color:white;
    border-radius: 5px;
    width: 110px;
}

.img-main {
    position:fixed;
    width:100%;
    top:0;
    left:0;
    margin:0;
    padding:0;
}



